
li {
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #ededed;
  list-style: none;
}

li:last-child {
	border-bottom: none;
}
ul {
  margin-left: 0;
}
label {
	position: relative;
	font-size: 24px;
  font-weight: 100;
	border-bottom: 1px solid #ededed;
}

li [type=checkbox]+label {
	word-break: break-all;
	padding: 15px 60px 15px 5px;
	margin-left: 45px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

li:hover .view .destroy {
 display: block;
}

.li .edit {
	display: none;
}

li.editing:last-child {
	margin-bottom: -1px;
}

li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	font-size: 30px;
  padding: 0;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}
